<link rel="preload" href="../styles/fonts/Mulish/Mulish-Regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-Italic.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-SemiBold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-Bold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Mulish/Mulish-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-Medium.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-SemiBold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-SemiBold.woff" as="font" type="font/woff"
    crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-SemiBold.woff2" as="font" type="font/woff2"
    crossorigin>