<link rel="preload" href="../styles/fonts/Poppins/Poppins.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-Medium.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Poppins/Poppins-SemiBold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Light.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Medium.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/Montserrat/Montserrat-Bold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-Regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-Medium.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../styles/fonts/BarlowCondensed/BarlowCondensed-SemiBold.woff" as="font" type="font/woff" crossorigin>