/* ====================================
   FOOTER
   ==================================== */

.site-footer {
    background: url("../img/footer-bg.png") center 0 no-repeat;
    background-size: cover;
    padding: 32px 0;

    .container {
        display: flex;
        align-items: center;
        gap: 160px;
    }

    .logo {
        width: 164px;
        height: 60px;
        background: url("../img/nd-logo.png") 0 0 no-repeat;
        display: block;
        text-indent: -999em;
    }

    .footer-info {
        >*:not(:last-child) {
            margin-bottom: 8px;
        }

        * {
            color: #fff;
        }

        a {
            display: inline;

            &:hover {
                color: var(--success);
            }
        }

        strong,
        b {
            font-weight: 600;
        }
    }
}