<footer class="site-footer">
    <div class="container footer-info">
        <a href="index.html" class="logo" title="Báo Hà Tĩnh">Báo Hà Tĩnh</a>
        <div class="left">
            <p>Giấy phép số: 15/GP-BTTTT do Bộ Thông tin - Truyền thông cấp ngày 17 tháng 01 năm 2022.</p>
            <p>©2009 Bản quyền thuộc về Báo Hà Tĩnh.</p>
            <p>Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản.</p>
        </div>
        <div class="right">
            <p>Tổng biên tập: Nguyễn Công Thành</p>
            <p>Trụ sở: Số 223, đường Nguyễn Huy Tự, Thành phố Hà Tĩnh</p>
            <p>Điện thoại: (023)93.693.427 - Email: <a href="mailto:hatinhdientu@baohatinh.vn">hatinhdientu@baohatinh.vn</a> - <a href="mailto:toasoan@baohatinh.vn">toasoan@baohatinh.vn</a></p>
            <p>QC: (023)93.856.715 - Email quảng cáo: <a href="mailto:quangcao@baohatinh.vn">quangcao@baohatinh.vn</a></p>
        </div>
    </div>
</footer> <!-- end site-footer -->