<footer class="site-footer">
    <div class="container">
        <div class="footer-info">
            <h3 class="footer-heading">Hệ thống Nha khoa Herident</h3>
            <p>Herident là hệ thống nha khoa uy tín tại Việt Nam với dịch vụ, chuyên môn cao, sự thấu cảm với người bệnh
                và triết lý kinh doanh vì cộng đồng giúp nâng cao sức khỏe, chất lượng cuộc sống và sự hài lòng cho
                khách hàng.</p>
            <div class="footer-office">
                <label for="">Cơ sở I:</label>
                <p><i class="ic-location"></i>308D Trường Chinh, Khương Thượng, Đống Đa, Hà Nội</p>
                <p><i class="ic-phone"></i>0916.531.669</p>
            </div>
            <div class="footer-office">
                <label for="">Cơ sở II:</label>
                <p><i class="ic-location"></i>131 Minh Khai, Minh Khai, Hai Bà Trưng, Hà Nội</p>
                <p><i class="ic-phone"></i>0975.919.949</p>
            </div>
        </div>
        <div class="footer-service">
            <h3 class="footer-heading">Dịch vụ</h3>
            <div class="service-list">
                <a href="#">Cấy ghép nha khoa</a>
                <a href="#">Niềng răng</a>
                <a href="#">Phục hình răng</a>
                <a href="#">Tiểu phẫu trong miệng</a>
                <a href="#">Điều trị răng</a>
                <a href="#">Điều trị nha chu</a>
                <a href="#">Răng trẻ em</a>
                <a href="#">Bệnh lý & PT hàm mặt</a>
                <a href="#">Nha khoa dự phòng</a>
            </div>
        </div>
        <form class="booking-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Họ tên">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="form-group">
                <select>
                    <option selected>Lựa chọn dịch vụ</option>
                    <option>Cấy ghép nha khoa</option>
                    <option>Niềng răng</option>
                    <option>Phục hình răng</option>
                </select>
            </div>
            <div class="d-flex">
                <div class="form-group">
                    <input type="date" class="form-control" aria-label="Date" />
                </div>
                <div class="form-group">
                    <input type="time" value="15:00" class="form-control" aria-label="Time" />
                </div>
            </div>
            <div class="form-group">
                <textarea rows="3" placeholder="Lời nhắn"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Đặt lịch khám</button>
        </form>
        <div class="copyright">
            <p>Copyright © 2024 Herident. All rights reserved</p>
            <div class="social">
                <a href="#" title="Facebook">
                    <i class="ic-facebook"></i>
                </a>
                <a href="#" title="Zalo">
                    <i class="ic-zalo-sm"></i>
                </a>
            </div>
        </div>
    </div>
</footer> <!-- end site-footer -->