<footer class="site-footer">
    <div class="container">
        <div class="footer-info">
            <p class="footer-heading">Hệ thống Nha khoa Herident</p>
            <p>Herident là hệ thống nha khoa uy tín tại Việt Nam với dịch vụ, chuyên môn cao, sự thấu cảm với người bệnh và triết lý kinh doanh vì cộng đồng giúp nâng cao sức khỏe, chất lượng cuộc sống và sự hài lòng cho khách hàng.</p>
            <div class="footer-office">
                <label for="">Cơ sở I:</label>
                <p><i class="ic-location"></i>308D Trường Chinh, Khương Thượng, Đống Đa, Hà Nội</p>
                <p><i class="ic-phone"></i>0916.531.669</p>
            </div>
        </div>
    </div>
</footer> <!-- end site-footer -->