<div class="contact-info">
    <div class="contact-us">
        <h3 class="contact-label">Liên hệ với chúng tôi</h3>
        <div class="office">
            <label>Cơ sở I:</label>
            <p><i class="ic-location"></i>308D Trường Chinh, Khương Thượng, Đống Đa, Hà Nội</p>
            <p><i class="ic-phone"></i>0916.531.669</p>
            <p><i class="ic-clock"></i>Giờ mở cửa: 08:00 - 22:00</p>
        </div>
        <div class="office">
            <label>Cơ sở II:</label>
            <p><i class="ic-location"></i>131 Minh Khai, Minh Khai, Hai Bà Trưng, Hà Nội</p>
            <p><i class="ic-phone"></i>0975.919.949</p>
            <p><i class="ic-clock"></i>Giờ mở cửa: 08:00 - 22:00</p>
        </div>
        <div class="social">Mạng xã hội:
            <a href="#" title="Facebook">
                <i class="ic-facebook"></i>
            </a>
            <a href="#" title="Zalo">
                <i class="ic-zalo"></i>
            </a>
        </div>
    </div>
    <div class="booking-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Họ tên">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" placeholder="Số điện thoại">
        </div>
        <div class="form-group">
            <select class="form-select">
                <option selected>Lựa chọn dịch vụ</option>
                <option>Cấy ghép nha khoa</option>
                <option>Niềng răng</option>
                <option>Phục hình răng</option>
            </select>
        </div>
        <div class="d-grid">
            <div class="form-group">
                <input type="date" class="form-control" aria-label="Date" />
            </div>
            <div class="form-group">
                <input type="time" value="15:00" class="form-control" aria-label="Time" />
            </div>
        </div>
        <div class="form-group">
            <textarea rows="3" placeholder="Lời nhắn"></textarea>
        </div>
        <button type="submit" class="btn btn-info">Đặt lịch khám</button>
    </div>
</div>

<div class="contact-location">
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59588.1546726814!2d105.7863888100365!3d21.022293628643453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad6d3a860c11%3A0xdf0b359918cdfd4a!2sNha%20khoa%20Herident%20c%C6%A1%20s%E1%BB%9F%201!5e0!3m2!1svi!2s!4v1712742327605!5m2!1svi!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact-us">
        <h3 class="contact-label">Hệ thống của chúng tôi</h3>
        <select class="form-select">
            <option selected="">Cơ sở I - 308D Trường Chinh</option>
            <option>Cơ sở II - 131 Minh Khai</option>
        </select>
        <div class="office">
            <p><i class="ic-location"></i>308D Trường Chinh, Khương Thượng, Đống Đa, Hà Nội</p>
            <p><i class="ic-phone"></i>0916.531.669</p>
            <p><i class="ic-clock"></i>Giờ mở cửa: 08:00 - 22:00</p>
        </div>
    </div>
</div>