<section class="zone zone--expert container">
    <h3 class="box-heading">
        <a href="#">Ban cố vấn</a>
    </h3>
    <div id="expert_swiper" class="box-content swiper">
        <div class="swiper-wrapper">
            @@for (var i = 0; i < 3; i++) {
                <div class="expert-story swiper-slide">
                    <figure class="avatar">
                        <a href="#">
                            <img src="https://source.unsplash.com/featured/150x150?sig=2" alt="150x150 (1:1)">
                        </a>
                    </figure>
                    <div class="summary">PGS - TS</div>
                    <a href="#" class="name">Đỗ Quang Trung</a>
                    <div class="summary">
                        Chủ tịch hội Nha chu Việt Nam<br>
                        Nguyên trưởng Bộ môn RHM trường ĐH Y Hà Nội
                    </div>
                </div>
                <div class="expert-story swiper-slide">
                    <figure class="avatar">
                        <a href="#">
                            <img src="https://source.unsplash.com/featured/150x150?sig=3" alt="150x150 (1:1)">
                        </a>
                    </figure>
                    <div class="summary">TS - Bác sĩ</div>
                    <a href="#" class="name">Đặng Triệu hùng</a>
                </div>
                <div class="expert-story swiper-slide">
                    <figure class="avatar">
                        <a href="#">
                            <img src="https://source.unsplash.com/featured/150x150?sig=1" alt="150x150 (1:1)">
                        </a>
                    </figure>
                    <div class="summary">Bác sĩ CKII</div>
                    <a href="#" class="name">Trần Minh Thịnh</a>
                    <div class="summary">Nguyên viện Phó viện Đào tạo RHM - Trường ĐH Y Hà Nội</div>
                </div>
            }
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section> <!-- end zone-expert -->