/* ====================================
   FYI
   ==================================== */

.banner {
    justify-content: center;
    display: grid;
    margin-bottom: 0 !important;

    &:last-child {
        .banner_show:last-child {
            margin-bottom: 0;
        }
    }

    img {
        max-width: 100%;
        margin: 0 auto;
    }

    .banner_show {
        margin-bottom: var(--column-gap);
    }
}

// chứa banner ngang, một hoặc nhiều banner trên 1 dòng
.banner-wrap .banner {
    display: flex;
    justify-content: space-between;
    flex-direction: initial;
    min-height: 90px;
    gap: 30px;

    .banner_show {
        margin-bottom: 0;
    }
}

// class trong sidebar, format khoảng cách giữa các box
.fyi-position {
    margin-bottom: var(--column-gap);
}