/* ====================================
   ICONS
   ==================================== */

// iconmoon
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-arrow-right:before {
    content: "\e900";
}

.ic-calendar:before {
    content: "\e903";
}

.ic-chervon-down:before {
    content: "\e901";
}

.ic-clock:before {
    content: "\e904";
}

.ic-facebook:before {
    content: "\e905";
}

.ic-location:before {
    content: "\e906";
}

.ic-menu:before {
    content: "\e907";
}

.ic-phone:before {
    content: "\e908";
}

.ic-search:before {
    content: "\e909";
}

//
.ic-zalo-sm {
    width: 16px;
    height: 16px;
    display: block;
    background: url("../img/ic-zalo-sm.png") 0 0 no-repeat;
}