/* ====================================
   LAYOUT  
   ==================================== */

.container {
    width: var(--container);
    margin-right: auto;
    margin-left: auto;
}

.site-body {
    padding-bottom: 100px;
}