/* ====================================
   STYLES
   ==================================== */

.d-grid {
    display: grid;
}

.backdrop:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.wrap-heading {
    text-align: center;
}

.summary {
    line-height: 1.6;
    color: var(--gray-600);
}

.box-heading {
    @include box-heading;
}

.social-bar {
    position: fixed;
    top: 50%;
    right: 30px;
    display: grid;
    gap: 12px;
    z-index: 1;

    a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E7F1FF;
        border-radius: 50%;
    }
}

//

.back-to-top {
    opacity: 0;
    visibility: hidden;
    width: 50px;
    height: 50px;
    background: url("../img/backtotop.png") center 0 no-repeat;
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    z-index: 1;

    @media (min-width:$xl) {
        bottom: 30px;
        right: 30px;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

// Form
.form-group {
    margin-bottom: 10px;
}

.form-control,
select,
textarea {
    font-size: 14px;
    color: var(--gray-800);
    width: 100%;
    height: 48px;
    padding: 0 20px;
    border: 0 none;
    border-radius: 30px;

    &::placeholder {
        color: var(--gray-800);
    }
}

select {
    appearance: none;
    background: url("../img/ic-select.svg") right 20px center no-repeat;
}

textarea {
    padding: 16px 20px;
    height: 100px;
    border-radius: 10px;
}

input[type="date"],
input[type="time"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        width: 48px;
        height: 48px;
        z-index: 1;
    }

    &::before {
        font-family: 'icomoon';
        font-size: 20px;
        color: var(--primary);
        position: absolute;
        right: 20px;
    }
}

input[type="date"]::before {
    content: "\e903";
}

input[type="time"]::before {
    content: "\e904";
}

// Button
.btn-primary {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 30px;

    &:hover {
        background: var(--secondary);
    }
}

.btn-secondary {
    color: var(--secondary);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid var(--primary);
    border-radius: 30px;

    &:hover {
        color: #fff;
        background: var(--primary);
    }
}

.btn-info {
    font-size: 16px;
    color: #fff !important;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--info);
    border-radius: 30px;
}

// Swiper
.swiper .swiper-pagination {
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background: rgba(255, 255, 255, .4);
        margin: 0 6px !important;
        opacity: 1;
        transition: all .2s ease-in-out;

        &-active {
            width: 30px;
            background: #fff;
            border-radius: 20px;
        }
    }
}

// Booking banner
.booking-banner {
    height: 300px;
    background: url("../img/booking-banner.png") -350px 0 no-repeat;
    margin-bottom: 100px;

    @media (max-width:767px) {
        display: none;
    }

    @media (min-width:$xl) {
        background-position: center 0;
    }

    .container {
        position: relative;
        height: inherit;
    }

    .btn-info {
        position: absolute;
        left: 70px;
        bottom: 30px;
        animation: jittery 4s infinite;

        &:hover {
            animation: heartbeat 0.2s infinite;
        }
    }

    .hotline {
        font-size: 24px;
        color: var(--info);
        font-weight: 500;
        position: absolute;
        left: 420px;
        bottom: 36px;
        animation: wiggle 2s linear infinite;
    }
}

// Keyframes
@keyframes jittery {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1.15);
    }

    20% {
        transform: scale(1.15) rotate(-5deg);
    }

    25% {
        transform: scale(1.15) rotate(5deg);
    }

    30% {
        transform: scale(1.15) rotate(-3deg);
    }

    35% {
        transform: scale(1.15) rotate(2deg);
    }

    40% {
        transform: scale(1.15) rotate(0);
    }
}

@keyframes heartbeat {
    50% {
        transform: scale(1.1);
    }
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}


.pulse {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .pulsing {
        &:before {
            animation: pulsing 0.2s linear infinite;
        }

        &:after {
            animation: pulsing1 0.2s linear infinite;
        }
    }

    * {
        box-sizing: border-box;

        &:before,
        &:after {
            content: "";
            position: absolute;
        }
    }

    .ic-messenger {
        position: absolute;
        z-index: 2;
    }
}

.pulsing {
    width: 99%;
    height: 99%;
    border-radius: 50px;
    z-index: 1;
    position: relative;

    &:before,
    &:after {
        width: 100%;
        height: 100%;
        border: inherit;
        top: 0;
        left: 0;
        z-index: 0;
        background: #E7F1FF;
        border-radius: inherit;
        animation: pulsing 2.5s linear infinite;
    }

    &:after {
        animation: pulsing1 2.5s linear infinite;
    }
}

@keyframes pulsing {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }

    20% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.2;
        transform: scaleY(1.8) scaleX(1.4);
    }

    80% {
        opacity: 0;
        transform: scaleY(1.8) scaleX(1.4);
    }

    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes pulsing1 {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }

    20% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.2;
        transform: scaleY(1.3) scaleX(1.15);
    }

    80% {
        opacity: 0;
        transform: scaleY(1.3) scaleX(1.15);
    }

    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
}

body {
    background: green;
}