<div class="popular fyi-position">
    <h3 class="box-heading">
        <span class="title">Xem nhiều</span>
    </h3>
    <div class="box-content">
        <article class="story story--focus">
            <figure class="story__thumb">
                <a href="03-detail.html">
                    <img src="https://source.unsplash.com/featured/300x200?sig=1" alt="300x200 (~3:2)">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Cấm đường có thời hạn phục vụ thi công đường lên Cửa khẩu Cầu Treo</a>
            </h2>
        </article>
        @@for (var i = 0; i < 4; i++) {
            <article class="story">
                <h2 class="story__heading">
                    <a href="03-detail.html">Cùng Anh hùng La Thị Tám hát lại bài ca xanh trên vùng đất lửa</a>
                </h2>
            </article>
        }
    </div>
</div>