<section class="zone zone--primary">
    <h3 class="box-heading">
        <a href="#">Tin tức sự kiện</a>
    </h3>
    <div class="box-content">
        @@for (var i = 0; i < 4; i++) { 
            <article class="story">
                <figure class="story__thumb">
                    <a href="03-detail.html">
                        <img src="https://placehold.co/270x180" alt="270x180 (3:2)">
                    </a>
                </figure>
                <h2 class="story__heading">
                    <a href="03-detail.html">
                        Bước ngoặt mới trong cấy ghép răng cho trường hợp tiêu xương nghiêm trọng
                    </a>
                </h2>
            </article>
        }
        <article class="story story--focus">
            <figure class="story__thumb">
                <a href="03-detail.html">
                    <img src="https://placehold.co/570x380" alt="570x380 (3:2)">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">
                    Chính thức khai trương Nha khoa Herident tại 308D Trường Chinh, Hà Nội
                </a>
            </h2>
            <time class="time"><i class="ic-clock"></i>1 tiếng trước</time>
            <div class="story__summary">Tiếp nối sự thành công trong năm 2022, năm nay, Hành trình Răng hạnh phúc
                Dental Tour 2023 đã thực hiện 25 chuyến đi đến công ty, trường học cũng như các địa điểm cộng đồng
                trên địa bàn TP.HCM và các tỉnh lân cận.</div>
        </article>
    </div>
</section> <!-- end zone-primary -->