/* ====================================
   ZONE SECONDARY
   ==================================== */

.zone--secondary {
   text-align: center;

   .box-content {
      text-align: left;
      display: grid;
      gap: var(--column-gap);

      @media (min-width:$md) {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   .story {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 20px;
      padding-right: 20px;
      background: var(--gray-100);
      border-radius: 6px;
      overflow: hidden;

      @media (min-width: $xl) {
         grid-template-columns: 280px 1fr;
      }

      &__thumb {
         height: 180px;

         @media (min-width:$md) {
            grid-row: 1/5;
         }
      }

      &__heading {
         padding: 20px 0 6px;
      }
   }

   .time {
      @media (max-width:767px) {
         display: none;
      }
   }
}