<section class="zone zone--secondary">
    <h3 class="box-heading">
        <a href="02-category.html">Tư liệu</a>
    </h3>
    <div class="box-content">
        @@for (var i = 0; i < 6; i++) { 
            <article class="story">
                <figure class="story__thumb">
                    <a href="03-detail.html">
                        <img src="https://placehold.co/270x180" alt="270x180 (3:2)">
                    </a>
                </figure>
                <h2 class="story__heading">
                    <a href="03-detail.html">
                        Vì sao người Việt đã bắt đầu quan tâm đến việc chăm sóc răng ê buốt?
                    </a>
                </h2>
                <time class="time"><i class="ic-clock"></i>1 tiếng trước</time>
            </article>
        }
    </div>
</section> <!-- end zone-secondary -->