/* ====================================
   SERVICE
   ==================================== */

.service {
   text-align: center;
   display: grid;
   gap: 30px;

   @media (min-width:$md) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media (min-width:$lg) {
      grid-template-columns: repeat(3, 1fr);
   }

   @media (min-width:$xl) {
      gap: 30px 60px;
   }

   .effect-sadie {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;

      &:hover {
         .btn {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
         }
      }

      .effect-title {
         @media (max-width:320px) {
            font-size: 26px;
         }
      }

      .btn {
         color: #fff;
         border-color: #fff;
         position: absolute;
         top: 50%;
         left: 28%;
         margin: 0;
         opacity: 0;
         -webkit-transform: translate3d(0, 10px, 0);
         transform: translate3d(0, 10px, 0);
         -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
         transition: opacity 0.35s, transform 0.35s;

         @media (max-width:320px) {
            left: 22%;
         }
      }
   }
}