<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=1" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Cấy ghép Nha khoa">
            <h2 class="effect-title">Cấy ghép Nha khoa</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=2" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Niềng răng">
            <h2 class="effect-title">Niềng răng</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=3" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Phục hình răng">
            <h2 class="effect-title">Phục hình răng</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=4" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Tiểu phẫu trong miệng">
            <h2 class="effect-title">Tiểu phẫu trong miệng</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=5" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Điều trị răng">
            <h2 class="effect-title">Điều trị răng</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=6" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Điều trị nha chu">
            <h2 class="effect-title">Điều trị nha chu</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=7" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Răng trẻ em">
            <h2 class="effect-title">Răng trẻ em</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=8" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Bệnh lý & PT hàm mặt">
            <h2 class="effect-title">Bệnh lý & PT hàm mặt</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>
<div class="service-item">
    <div class="effect-sadie">
        <div class="effect-thumb">
            <img src="https://source.unsplash.com/featured/350x470?sig=9" alt="350x470 (4:3)">
        </div>
        <a href="03-detail.html" class="effect-meta" title="Nha khoa dự phòng">
            <h2 class="effect-title">Nha khoa dự phòng</h2>
            <span class="btn btn-secondary">Tìm hiểu thêm</span>
        </a>
    </div>
    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
</div>