<div class="box-ads">
    <div class="wrap-heading">
        <h3 class="box-heading">
            <a href="02-category.html" class="title">Rao vặt</a>
        </h3>
        <nav class="subcate">
            <a href="#">Nhà đất</a>
            <a href="#">Điện tử - Điện lạnh</a>
            <a href="#">Thiết bị di động</a>
            <a href="#">Tuyển dụng tuyển sinh</a>
            <a href="#">Rao vặt khác</a>
        </nav>
    </div>
    <div class="box-content">
        @@for (var i = 0; i < 4; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="03-detail.html">
                        <img src="https://source.unsplash.com/featured/120x80?sig=1" alt="120x80 (~3:2)">
                    </a>
                </figure>
                <h2 class="story__heading">
                    <a href="03-detail.html">Đánh giá Galaxy Z Fold3 & Z Flip3 sau 3 tháng ra mắt</a>
                </h2>
            </article>
        }
    </div>
</div>