<div class="timeline">
    @@for (var i = 0; i < 8; i++) {
        <article class="story">
            <figure class="story__thumb">
                <a href="03-detail.html"><img src="https://source.unsplash.com/featured/260x170?sig=1" alt="260x170 (~3:2)"></a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">
                    <i class="ic-photo"></i>
                    <i class="ic-video"></i>
                    <i class="ic-audio"></i>
                    <i class="ic-infographic"></i>
                    <i class="ic-emagazine"></i>
                    <i class="ic-lens"></i>
                    <i class="ic-story"></i>
                    <i class="ic-quiz"></i>
                    Ngư dân vùng biển phía Nam Hà Tĩnh trúng đậm cá cơm
                </a>
            </h2>
            <time class="time">11:00 - 21/07/2023</time>
            <div class="story__summary">(Baohatinh.vn) - Những ngày này, vùng biển gần bờ Hà Tĩnh xuất hiện các luồng cá cơm lớn. Hàng chục tàu thuyền làng biển xã Kỳ Ninh (TX Kỳ Anh, Hà Tĩnh) phấn khởi đánh bắt, thu tiền triệu sau mỗi chuyến ra khơi.</div>
        </article>
    }
</div>