<div class="timeline">
    @@for (var i = 0; i < 10; i++) { 
        <article class="story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                    <img src="https://source.unsplash.com/featured/480x320?sig=1" alt="480x320 (3:2)">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">
                    Mài răng là gì? Mài răng có ảnh hưởng gì không?
                </a>
            </h2>
            <time class="time"><i class="ic-clock"></i>1 tiếng trước</time>
            <div class="story__summary">Mài răng là kỹ thuật chủ yếu được thực hiện trong điều trị nha khoa có liên quan đến thẩm mỹ. Vấn đề được nhiều người quan tâm trước khi thực hiện kỹ thuật này là mài răng có ảnh hưởng gì không?</div>
        </article>
    }
    <button type="button" class="btn btn-primary">Xem thêm</button>
</div>