/* ====================================
   RELATED NEWS
   ==================================== */

.related-news {
    .box-heading {
        @include box-heading;
    }

    .box-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 30px;

        @media (min-width:$lg) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .story__thumb {
        height: 180px;
        margin-bottom: 10px;

        img {
            border-radius: 6px;
        }
    }
}