<div class="related-news">
    <h3 class="box-heading">
        <span>Tin liên quan</span>
    </h3>
    <div class="box-content">
        @@for (var i = 0; i < 4; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="03-detail.html">
                        <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="270x180 (~3:2)">
                    </a>
                </figure>
                <h2 class="story__heading">
                    <a href="03-detail.html">Tổng Bí thư Nguyễn Phú Trọng chúc Tết các đồng chí lãnh đạo, nguyên lãnh đạo Đảng, Nhà nước</a>
                </h2>
            </article>
        }
    </div>
</div>