<article class="story story--focus">
    <figure class="story__thumb">
        <a href="03-detail.html">
            <img src="https://source.unsplash.com/featured/570x380?sig=1" alt="570x380 (~3:2)">
        </a>
    </figure>
    <h2 class="story__heading">
        <a href="03-detail.html">
            <i class="ic-emagazine"></i>
            Các địa phương nỗ lực nâng cao chất lượng tuyển quân
        </a>
    </h2>
    <time class="time">11:00 - 21/07/2023</time>
    <div class="story__summary">(Baohatinh.vn) - Để đảm bảo hoàn thành công tác tuyển quân năm 2022, thời gian này, các đơn vị, địa phương ở Hà Tĩnh đang tập trung làm tốt công tác tuyên truyền, tổ chức sơ khám tại cơ sở, phấn đấu bảo đảm chỉ tiêu, chất lượng được giao.</div>
</article>
<article class="story">
    <figure class="story__thumb">
        <a href="03-detail.html">
            <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="270x180 (~3:2)">
        </a>
    </figure>
    <h2 class="story__heading">
        <a href="03-detail.html">
            <i class="ic-photo"></i>
            Phim tài liệu nghệ thuật Đại thi hào Nguyễn Du: Chân thực và sống động
        </a>
    </h2>
</article>
<article class="story">
    <figure class="story__thumb">
        <a href="03-detail.html">
            <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="270x180 (~3:2)">
        </a>
    </figure>
    <h2 class="story__heading">
        <a href="03-detail.html">
            <i class="ic-lens"></i>
            Phim tài liệu nghệ thuật Đại thi hào Nguyễn Du: Chân thực và sống động
        </a>
    </h2>
</article>
<article class="story">
    <figure class="story__thumb">
        <a href="03-detail.html">
            <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="270x180 (~3:2)">
        </a>
    </figure>
    <h2 class="story__heading">
        <a href="03-detail.html">
            <i class="ic-story"></i>
            Phim tài liệu nghệ thuật Đại thi hào Nguyễn Du: Chân thực và sống động
        </a>
    </h2>
</article>
<article class="story">
    <figure class="story__thumb">
        <a href="03-detail.html">
            <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="270x180 (~3:2)">
        </a>
    </figure>
    <h2 class="story__heading">
        <a href="03-detail.html">
            <i class="ic-infographic"></i>
            Phim tài liệu nghệ thuật Đại thi hào Nguyễn Du: Chân thực và sống động
        </a>
    </h2>
</article>