/* ====================================
   BREADCRUMB
   ==================================== */

.breadcrumb {
    display: flex;
    justify-content: center;
    margin-bottom: 8px !important;

    .main {
        font-size: 14px;
        line-height: 1.5;
        color: var(--gray-600);
        font-weight: 400;
        display: flex;

        * {
            color: var(--gray-700);
        }

        a:hover,
        a:hover i {
            color: var(--primary);
        }

        &+.main {
            &::before {
                content: "/";
                padding: 0 10px;
            }
        }
    }

    .ic-home {
        font-size: 16px;
        color: var(--gray-600);
        position: relative;
        top: 1px;
    }
}