/* ====================================
   NAVIGATION  
   ==================================== */

.navigation {
    @media (max-width:$xl) {
        display: none;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        padding-left: 20px;

        .main {
            &:hover {

                .nav-link,
                .nav-link i {
                    color: var(--primary);
                }

                .subnav {
                    display: block;
                }
            }
        }
    }

    .nav-link {
        font-size: 16px;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;

        @media (min-width:$lg) {
            height: 70px;
        }

        i {
            font-size: 20px;
            color: #888;
            margin-left: 2px;
        }
    }

    .subnav {
        display: none;
        position: absolute;
        z-index: 3;
        min-width: 200px;
        padding: 8px 0;
        background: var(--primary);
        border-radius: 0 0 6px 6px;

        a {
            color: #fff;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 10px 20px;

            &:hover {
                color: var(--info);
            }
        }
    }
}

// Mobile
.m-menu {
    @media (min-width:$lg) {
        top: 70px;
    }

    .ic-menu {
        font-size: 24px;
        cursor: pointer;
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width:$lg) {
            width: 70px;
            height: 70px;
        }

        @media (min-width:$xl) {
            display: none;
        }
    }

    .dropdown-menu {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 16px 20px;
        z-index: 1;
        background: var(--secondary);
        height: calc(100% - 50px);
        overflow-y: scroll;

        @media (min-width:$lg) {
            top: 70px;
        }
    }

    .menu-col:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }

    .menu-heading {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            color: #fff;
        }

        a {
            text-transform: uppercase;
            width: 100%;
        }

        i {
            font-size: 24px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .submenu {
        display: none;
        padding: 0 0 12px 12px;

        a {
            color: #bbb;
            padding: 6px 0;

            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 4px;
                background: #aaa;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}