<nav class="navigation">
    <ul class="navbar-nav">
        <li class="main menu">
            <div class="nav-link"><i class="ic-menu"></i></div>
        </li>
        <li class="main">
            <a href="02-category.html" class="nav-link">Giới thiệu <i class="ic-chervon-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main">
            <a href="02-category.html" class="nav-link">Dịch vụ <i class="ic-chervon-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main">
            <a href="02-category.html" class="nav-link">Tin tức sự kiện <i class="ic-chervon-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main">
            <a href="02-category.html" class="nav-link">Tư liệu <i class="ic-chervon-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main"><a href="02-category.html" class="nav-link">Liên hệ</a></li>
    </ul>
</nav>