<div class="m-menu">
    <i class="ic-menu"></i>
    <div class="dropdown-menu">
        <div class="menu-col">
            <div class="menu-heading">
                <a href="02-category.html">Giới thiệu</a>
                <i class="ic-chevron-down"></i>
            </div>
            <div class="submenu">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </div>
        <div class="menu-col">
            <div class="menu-heading">
                <a href="04-service.html">Dịch vụ</a>
                <i class="ic-chevron-down"></i>
            </div>
            <div class="submenu">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </div>
        <div class="menu-col">
            <div class="menu-heading">
                <a href="02-category.html">Tin tức sự kiện</a>
                <i class="ic-chevron-down"></i>
            </div>
            <div class="submenu">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </div>
        <div class="menu-col">
            <div class="menu-heading">
                <a href="02-category.html">Tư liệu</a>
                <i class="ic-chevron-down"></i>
            </div>
            <div class="submenu">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </div>
        <div class="menu-col">
            <div class="menu-heading">
                <a href="02-category.html">Liên hệ</a>
            </div>
        </div>
    </div>
</div>

<nav class="navigation">
    <ul class="navbar-nav">
        <li class="main">
            <a href="02-category.html" class="nav-link">Giới thiệu <i class="ic-chevron-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main">
            <a href="04-service.html" class="nav-link">Dịch vụ <i class="ic-chevron-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main active">
            <a href="02-category.html" class="nav-link">Tin tức sự kiện <i class="ic-chevron-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main">
            <a href="02-category.html" class="nav-link">Tư liệu <i class="ic-chevron-down"></i></a>
            <div class="subnav">
                <a href="02-category.html">Chuyên mục 1</a>
                <a href="02-category.html">Chuyên mục 2</a>
                <a href="02-category.html">Chuyên mục 3</a>
            </div>
        </li>
        <li class="main"><a href="02-category.html" class="nav-link">Liên hệ</a></li>
    </ul>
</nav>