<nav class="navigation">
    <ul class="container menu-wrap">
        <li class="main home">
            <a href="index.html" class="menu-heading" title="Trang chủ"><i class="ic-home"></i></a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Chính trị</a>
            <div class="submenu">
                <a href="02-category.html">Xây dựng Đảng</a>
                <a href="02-category.html">Chính quyền</a>
                <a href="02-category.html">Đoàn thể</a>
            </div>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Kinh tế</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Xã hội</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Quốc phòng</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Pháp luật</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Văn hóa</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Về hà tĩnh</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Thể thao</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Thế giới</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Công nghệ</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Xe</a>
        </li>
        <li class="main">
            <a href="02-category.html" class="menu-heading">Đời sống</a>
        </li>
        <li class="main search">
            <div class="search-btn"><i class="ic-search"></i></div>
            <div class="dropdown-menu">
                <div class="search-form">
                    <input type="text" name="Tìm kiếm" placeholder="Tìm kiếm">
                    <button type="button" class="btn" aria-label="Tìm kiếm">Tìm kiếm</button>
                </div>
            </div>
        </li>
        <li class="main menu">
            <div class="menu-btn"><i class="ic-menu"></i></div>
            <div class="dropdown-menu">
                <div class="container mega-menu">
                    <div class="menu-col">
                        <a href="02-category.html">Chính trị</a>
                        <a href="02-category.html">Xây dựng Đảng</a>
                        <a href="02-category.html">Chính quyền</a>
                        <a href="02-category.html">Đoàn thể</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Xã hội</a>
                        <a href="02-category.html">Giáo dục</a>
                        <a href="02-category.html">Y tế</a>
                        <a href="02-category.html">Chính sách</a>
                        <a href="02-category.html">Việc làm</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Pháp luật</a>
                        <a href="02-category.html">An ninh trật tự</a>
                        <a href="02-category.html">Pháp luật đời sống</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Về Hà Tĩnh</a>
                        <a href="02-category.html">Núi Hồng - Sông La</a>
                        <a href="02-category.html">Điểm đến</a>
                        <a href="02-category.html">Món ngon</a>
                        <a href="02-category.html">Lưu trú</a>
                        <a href="02-category.html">Xa quê</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Kinh tế</a>
                        <a href="02-category.html">Đầu tư</a>
                        <a href="02-category.html">Công nghiệp</a>
                        <a href="02-category.html">Nông nghiệp</a>
                        <a href="02-category.html">Thị trường</a>
                        <a href="02-category.html">Khởi nghiệp</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Thể thao</a>
                        <a href="02-category.html">CLB Hồng Lĩnh Hà Tĩnh</a>
                        <a href="02-category.html">Bóng đá</a>
                        <a href="02-category.html">Quần vợt</a>
                        <a href="02-category.html">Muôn mầu thể thao</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Quốc phòng</a>
                        <a href="02-category.html">Lực lượng vũ trang</a>
                        <a href="02-category.html">Bình luận</a>
                        <a href="02-category.html">Vũ khí</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Văn hóa</a>
                        <a href="02-category.html">Văn hóa</a>
                        <a href="02-category.html">Du lịch</a>
                        <a href="02-category.html">Thời trang</a>
                        <a href="02-category.html">Giải trí</a>
                        <a href="02-category.html">Văn học</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Cộng đồng</a>
                        <a href="02-category.html">Điều tra theo đơn thư</a>
                        <a href="02-category.html">Nhịp cầu yêu thương</a>
                        <a href="02-category.html">Bạn đọc viết</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Bạn đọc viết</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Công nghệ</a>
                        <a href="02-category.html">Khoa học</a>
                        <a href="02-category.html">Thiết bị số</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Thế giới</a>
                        <a href="02-category.html">Trung Đông</a>
                        <a href="02-category.html">Biển Đông</a>
                        <a href="02-category.html">Điểm nóng</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Xe</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Đời sống</a>
                        <a href="02-category.html">Tình yêu</a>
                        <a href="02-category.html">Làm đẹp</a>
                        <a href="02-category.html">Mẹ và bé</a>
                        <a href="02-category.html">Phong thủy</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Rao vặt</a>
                        <a href="02-category.html">Nhà đất</a>
                        <a href="02-category.html">Điện tử - Điện lạnh</a>
                        <a href="02-category.html">Thiết bị di động</a>
                        <a href="02-category.html">Tuyển dụng tuyển sinh</a>
                        <a href="02-category.html">Rao vặt khác</a>
                    </div>
                    <div class="menu-col">
                        <a href="08-video.html">Video</a>
                    </div>
                    <div class="menu-col">
                        <a href="05-multimedia.html">Ảnh</a>
                    </div>
                    <div class="menu-col">
                        <a href="02-category.html">Tin 24h</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>