/* ====================================
    ARTICLE BODY
   ==================================== */

@import 'common';
@import 'zce-body';

.article {

    >table.picture,
    >table.video,
    >figure {
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;

        @media (min-width:$md) {
            width: max-content;
            max-width: calc(100vw - 17px);
        }

        img {
            width: 100%;

            @media (max-width:767px) {
                border-radius: 0;
            }
        }
    }

    .social-footer {
        padding: 10px 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    &__author {
        font-weight: 600;
        text-transform: uppercase;
        text-align: right;
    }

    &__source {
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: end;

        * {
            font-size: 14px;
            line-height: 1.5;
        }

        a {
            display: block;
        }

        .name {
            color: var(--gray-700);
            font-weight: 500;
        }

        .source {
            height: 32px;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 0 16px;
            background: #f8fbff;
            border: 1px dashed #4dbeee;
            border-radius: 20px;
        }

        .btn {
            color: var(--primary);
        }

        .source-toggle {
            display: none;
            position: absolute;
            right: 0;
            top: 40px;
            padding: 16px;
            flex-direction: column;
            gap: 10px;
            border-radius: 6px;
            background: rgba(0, 0, 0, 0.8);

            &.show {
                display: flex;
            }

            * {
                color: #fff;
            }

            span {
                cursor: pointer;
            }

            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .title {
                color: var(--gray-500);
            }

            .link {
                font-size: 13px;
                word-break: break-word;
                width: 360px;
                padding: 10px;
                border-radius: 6px;
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}