<div class="article__body zce-content-body">
    <figure class="full-width" data-display="desktop"> 
        <img class="oldpc cms-photo lazyloaded" src="https://image.baohatinh.vn/w2000/news/2350/137d2102953t436l7-ban-sao-cua-ky-anh-c.jpg" alt="Xây dựng huyện nông thôn mới - Kỳ Anh nỗ lực bứt phá (bài cuối): Bền vững trên hành trình đạt chuẩn các tiêu chí" data-image-id="1491714" data-width="2000" data-height="2420" data-src="https://image.baohatinh.vn/w2000/news/2350/137d2102953t436l7-ban-sao-cua-ky-anh-c.jpg" width="2000" height="2420"> 
    </figure>
    @@include('./content-body/_typo.html')
    @@include('./content-body/_ul-ol.html')
    @@include('./content-body/_table-no-class.html')
    @@include('./content-body/_picture-video.html')
    @@include('./content-body/_quote.html')
    @@include('./content-body/_relate-topic.html')
    @@include('./content-body/_notebox.html')
    @@include('./content-body/_poll.html')
    @@include('./content-body/_article-relate.html')
    @@include('../old-style/old-style.html')
    @@include('./content-body/_author.html')
    @@include('./content-body/_source.html')
</div>