/* ====================================
   ABF-HOMEPAGE
   ==================================== */

.abf-homepage {
   margin-bottom: 60px;

   &.swiper {
      @media (max-width: 767px) {
         margin-left: -20px;
         margin-right: -20px;
      }
   }

   &::after {
      content: "";
      display: block;
      background: url("../img/swiper-bg.svg") 70% bottom no-repeat;
      background-size: cover;
      width: 100vw;
      height: 306px;
      position: absolute;
      bottom: -3px;
      z-index: 1;

      @media (max-width:768px) {
         content: none;
      }

      @media (min-width:$lg) {
         background-position: center bottom;
      }

      @media (min-width:1921px) {
         height: 400px;
      }
   }

   &:has(.swiper-wrapper) {
      >img {
         @media (max-width:767px) {
            display: none;
         }
      }
   }

   img {
      width: 100vw;
      height: 100%;
   }

   .swiper-wrapper {
      @media (min-width:$md) {
         position: absolute;
         top: 0;
      }
   }

   .swiper-meta {
      font-family: $font-family-heading;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 300;
      padding: 20px;
      background: #fff;

      @media (min-width:$md) {
         font-size: 26px;
         padding: 30px 30px 40px;
         position: absolute;
         top: 24px;
         left: 20px;
         background: rgba(255, 255, 255, .5);
         border-radius: 10px;
         backdrop-filter: blur(10px);
      }

      @media (min-width:$xl) {
         top: calc(50% - 230px);
         left: calc(50% - 580px);
      }

      @media (min-width:1600px) {
         font-size: 32px;
         padding: 50px;
      }

      .brand {
         font-size: 24px;
         color: var(--secondary);
         text-transform: uppercase;
         font-weight: 700;
         display: block;
         margin-top: 3px;

         @media (min-width:$md) {
            font-size: 36px;
         }

         @media (min-width:$xl) {
            font-size: 42px;
         }

         @media (min-width:1600px) {
            font-size: 48px;
         }
      }

      .viewmore {
         font-size: 14px;
         color: var(--secondary);
         font-weight: 400;
         width: fit-content;
         height: 40px;
         padding: 0 20px;
         margin-top: 12px;
         display: flex;
         align-items: center;
         gap: 6px;
         border: 1px solid var(--primary);
         border-radius: 30px;

         @media (min-width:$md) {
            font-size: 16px;
            height: 50px;
            padding: 0 30px;
         }

         @media (min-width:1600px) {
            margin-top: 20px;
         }

         &:hover {
            color: #fff;
            background: var(--primary);
         }

         i {
            font-size: 24px;
         }
      }
   }

   &.swiper .swiper-pagination {
      width: fit-content;
      left: auto;
      right: 20px;

      @media (min-width:$md) {
         bottom: 50px;
      }

      @media (min-width:$lg) {
         right: 50px;
         bottom: 70px;
      }
   }
}