<div id="highlight_swiper" class="abf-homepage swiper">
    <img src="../styles/img/herident-bg.png" alt="1920x960 (~16:9)">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-meta">
                <span>Chào mừng bạn đến</span>
                <span class="brand">Nha khoa Herident</span>
                <a href="#" class="viewmore">Hệ thống của chúng tôi <i class="ic-arrow-right"></i></a>
            </div>
            <img src="../styles/img/herident-bg.png" alt="1920x960 (~16:9)">
        </div>
        <div class="swiper-slide">
            <div class="swiper-meta">
                <span>Chào mừng bạn đến</span>
                <span class="brand">Nha khoa Herident</span>
                <a href="#" class="viewmore">Hệ thống của chúng tôi <i class="ic-arrow-right"></i></a>
            </div>
            <img src="https://picsum.photos/1920/960" alt="1920x960 (~16:9)">
        </div>
        <div class="swiper-slide">
            <div class="swiper-meta">
                <span>Chào mừng bạn đến</span>
                <span class="brand">Nha khoa Herident</span>
                <a href="#" class="viewmore">Hệ thống của chúng tôi <i class="ic-arrow-right"></i></a>
            </div>
            <img src="https://picsum.photos/1920/960" alt="1920x960 (~16:9)">
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>