/* ====================================
   ERROR
   ==================================== */

.error {
    text-align: center;
    margin: 100px auto;

    img {
        width: fit-content;
        height: 100%;
        margin-bottom: 30px;
    }

    .title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .des {
        font-size: 18px;
        color: var(--gray-600, #6c757d);

        a {
            color: var(--primary, #D72027);
            display: inline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}