/* ====================================
   HEADER   
   ==================================== */

.site-header {
    height: 420px;
    background: url("../img/header-bg.png") center 0 no-repeat;
    background-size: cover;

    &__nav {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
    }

    .logo {
        width: 110px;
        height: 30px;
        background: url("../img/nd-logo.png") 0 0/110px no-repeat;
        display: block;
        text-indent: -999em;
    }

    .navigation {
        .navbar-nav {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .nav-link {
            color: #fff;
            text-transform: uppercase;

            &:hover,
            &.active {
                color: var(--success);
            }
        }

        .search-form {
            width: 200px;
            display: flex;
            background: rgba(255, 255, 255, .1);

            * {
                color: #fff;
            }

            input {
                width: 100%;
                height: 40px;
                padding: 0 20px;
                background: none;
                border: 0 none;

                &::placeholder {
                    color: #fff;
                }
            }
        }
    }
}