/* ====================================
   HEADER   
   ==================================== */

.site-header {
    height: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .06);
    transition: all .2s ease-in-out;

    @media (min-width:$xl) {
        height: 70px;
    }

    &.is-sticky {
        height: 50px;
        z-index: 99;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);

        @media (min-width:$xl) {
            height: 70px;
        }

        .logo {
            width: 58px;
            height: 50px;
            background: url("../img/logo-sm.png") 0 center/58px no-repeat;

            @media (min-width:$xl) {
                width: 70px;
                height: 70px;
                background-size: inherit;
            }
        }
    }

    .logo {
        width: 58px;
        height: 50px;
        background: url("../img/logo-sm.png") 0 center/58px no-repeat;
        display: block;
        text-indent: -999em;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;

        @media (min-width:$xl) {
            width: 174px;
            height: 124px;
            background: url("../img/logo-default.png") 0 0 no-repeat;
        }
    }

    .ic-search {
        font-size: 20px;
        cursor: pointer;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-form {
        display: none;
        width: 200px;

        input {
            font-size: 16px;
            color: var(--gray-600);
            width: 100%;
            border: 0 none;

            &::placeholder {
                color: var(--gray-600);
            }
        }
    }

    .language {
        display: flex;
        margin-left: 20px;

        @media (max-width:1024px) {
            display: none;
        }

        >*:first-child::after {
            content: "|";
            font-size: 12px;
            color: var(--gray-500);
            padding: 0 6px;
        }

        .active {
            color: var(--primary);
            font-weight: 600;
        }
    }

    .hotline,
    .booking {
        font-size: 16px;
        color: #fff;
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        @media (max-width:1024px) {
            display: none;
        }

        i {
            font-size: 20px;
        }
    }

    .hotline {
        background: var(--primary);
        border-radius: 30px;
        margin-left: 30px;
    }

    .booking {
        height: 70px;
        background: var(--info);
        margin-left: 20px;

        i {
            position: relative;
            top: -2px;
        }
    }
}