/* ====================================
   HEADER   
   ==================================== */

.site-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;

    .navigation {
        .navbar-nav {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .nav-link {
            text-transform: uppercase;

            &:hover,
            &.active {
                color: var(--success);
            }
        }
    }

    .logo {
        width: 110px;
        height: 30px;
        background: url("../img/nd-logo.png") 0 0/110px no-repeat;
        display: block;
        text-indent: -999em;
    }
}

.search-form {
    width: 200px;
    display: flex;
    background: rgba(255, 255, 255, .1);

    * {
        color: #fff;
    }

    input {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        background: none;
        border: 0 none;

        &::placeholder {
            color: #fff;
        }
    }
}