<header class="site-header">
    <nav class="navigation">
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link active">Giới thiệu</a></li>
            <li><a href="#" class="nav-link">Dịch vụ</a></li>
            <li><a href="#" class="nav-link">Tin tức sự kiện</a></li>
            <li><a href="#" class="nav-link">Tư liệu</a></li>
            <li><a href="#" class="nav-link">Liên hệ</a></li>
        </ul>
    </nav>
    <h1>
        <a href="index.html" class="logo" title="Herident">Herident</a>
    </h1>
</header>   <!-- end site-header -->