<header class="site-header">
    <div class="topbar">
        <div class="container">
            <time>Thứ Hai 16/10/2023 - 16:46</time>
            <span>Hotline: 02393.693.427</span>
            <ul class="link">
                <li>Theo dõi Báo Hà Tĩnh qua</li>
                <li><a href="#" title="Facebook"><i class="ic-facebook"></i></a></li>
                <li><a href="#" title="Tiktok"><i class="ic-tiktok"></i></a></li>
                <li><a href="#" title="Youtube"><i class="ic-youtube"></i></a></li>
                <li><a href="#" title="Zalo"><i class="ic-zalo"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="hdr-content container">
        <h1>
            <a href="index.html" class="logo" title="Báo Hà Tĩnh">Báo Hà Tĩnh</a>
        </h1>
        <nav class="hdr-link">
            <a href="#" class="item"><i class="ic-bell"></i>Tin mới</a>
            <a href="#" class="item"><i class="ic-epaper"></i>Báo in</a>
            <a href="#" class="item"><i class="ic-location"></i>Tin Địa phương</a>
            <div class="user-login">
                <a href="#" class="item btn-modal" data-toggle="modal" data-target="loginModal"><i class="ic-user"></i>Đăng nhập</a>
            </div>
        </nav>
    </div>
    @@include('../navigation/navigation.html')
</header>   <!-- end site-header -->