/* ====================================
   BOX-ASIDE
   ==================================== */

.box-aside {
    @include aside-heading;

    .story {
        &:not(:last-child) {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid $border-color;
        }

        &--focus {
            .story__thumb {
                height: 170px;
                margin-bottom: 10px;
            }
        }
    }
}