<div class="box-aside fyi-position">
    <h3 class="box-heading">
        <a href="02-category.html" class="title">@@box-name</a>
    </h3>
    <div class="box-content">
        <article class="story story--focus">
            <figure class="story__thumb">
                <a href="03-detail.html">
                    <img src="https://source.unsplash.com/featured/260x170?sig=1" alt="260x170 (~3:2)">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Tiêm vaccine phòng COVID-19 cho trẻ từ 5 - dưới 12 tuổi thế nào, trẻ từng là F0 có nên tiêm?</a>
            </h2>
        </article>
        @@for (var i = 0; i < 2; i++) {
            <article class="story">
                <h2 class="story__heading">
                    <a href="03-detail.html">Quán triệt sâu sắc, triển khai quyết liệt công tác xây dựng, chỉnh đốn Đảng</a>
                </h2>
            </article>
        }
    </div>
</div>