<div class="modal" data-target="voteModal">
    <div class="modal-header">
        <h3 class="modal-title">Kết quả</h3>
        <button type="button" class="btn-close"><i class="ic-close"></i></button>
    </div>
    <div class="modal-body scroll">
        <div class="heading-body">Liệu có nên phạt nặng các học sinh đánh nhau, tổ chức đánh người trong môi trường giáo dục không ?</div>
        <div class="modal-vote">
            <ul>
                <li>
                    <div class="info-result">
                        <div class="text">Tăng cường giáo dục</div>
                        <div class="color-bar">
                            <span percent="91" class="color-result" style="width:91%;">
                                <label class="text-result">91%</label>
                            </span>
                        </div>
                        <div class="number">
                            <label>2.330</label>phiếu
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info-result">
                        <div class="text">Đình chỉ học tập</div>
                        <div class="color-bar">
                            <span percent="91" class="color-result" style="width:9%;">
                                <label class="text-result">9%</label>
                            </span>
                        </div>
                        <div class="number">
                            <label>2.33</label>phiếu
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info-result">
                        <div class="text">Tăng cường giáo dục</div>
                        <div class="color-bar">
                            <span percent="91" class="color-result" style="width:9%;">
                                <label class="text-result">9%</label>
                            </span>
                        </div>
                        <div class="number">
                            <label>2.33</label>phiếu
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix">
                <span class="total-vote">Tổng Cộng: <label>2.552 phiếu</label></span>
            </div>
        </div>
    </div>
</div> <!-- modal vote -->

<div class="modal" data-target="commentModal">
    <div class="modal-header">
        <h3 class="modal-title">Thông tin người dùng</h3>
        <button type="button" class="btn-close"><i class="ic-close"></i></button>
    </div>
    <div class="modal-body scroll">
        <div class="form-group">
            <input type="type" class="form-control" name="input-name" placeholder="Họ tên">
            <div class="form-text">Bạn chưa nhập họ tên.</div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="input-email" placeholder="Email">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-submit btnSubmit">Gửi bình luận</button>
        <button type="button" class="btn-close btnCancel">Đóng</button>
    </div>
</div> <!-- modal comment -->