<div class="modal" data-target="commentModal">
    <div class="modal-header">
        <h3 class="modal-title">Thông tin người dùng</h3>
        <button type="button" class="btn-close"><i class="ic-close"></i></button>
    </div>
    <div class="modal-body scroll">
        <div class="form-group">
            <input type="type" class="form-control" name="input-name" placeholder="Họ tên">
            <div class="form-text">Bạn chưa nhập họ tên.</div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="input-email" placeholder="Email">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-submit btnSubmit">Gửi bình luận</button>
        <button type="button" class="btn-close btnCancel">Đóng</button>
    </div>
</div> <!-- modal comment -->