/* ====================================
    ARTICLE HEADER
   ==================================== */

.article {
    width: 80%;
    margin: 0 auto 100px;

    @media (min-width: $lg) {
        width: 630px;
    }

    >*:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 40px;
        line-height: 1.4;
        color: var(--gray-900);
        font-weight: 600;
        text-align: center;
    }

    &__meta {
        display: flex;
        align-items: center;
        padding: 12px 30px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        .meta {
            margin-right: auto;

            * {
                color: var(--gray-600);
            }

            a {
                color: var(--primary);
            }
        }

        .author {
            color: var(--gray-900);
            font-weight: 500;
            text-transform: uppercase;
            display: block;
        }

        .social {
            display: flex;
            gap: 10px;

            a {
                color: #fff;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                &:hover {
                    opacity: .9;
                }
            }

            .fb {
                font-size: 16px;
                background: #3B5998;
            }

            .zl {
                background: #018FE5;
            }

            .tt {
                background: #55ACEE;
            }

            .em {
                background: #0BA5BE;
            }
        }
    }

    &__sapo {
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
        background: var(--secondary);
        padding: 24px;
        border-radius: 6px;

        * {
            display: inline;
        }

        a {
            color: var(--primary);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__avatar {
        img {
            width: max-content;
            max-width: 100%;
            height: auto;
            border-radius: 6px;
        }

        figcaption {
            color: var(--gray-600);
            text-align: center;
            padding: 10px 0;
            margin: auto;
            max-width: 630px;

            &::after {
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background: rgba(0, 0, 0, .3);
                margin: 20px auto 0;
            }
        }
    }
}