<h1 class="article__title">Phát biểu của Tổng Bí Thư Nguyễn Phú Trọng tại Hội nghị Đảng Ủy Công an Trung ương năm 2023</h1>
<div class="article__meta">
    <div class="meta">
        <span class="author">Nhân dân online</span>
        <time class="time">19/03/2024 - 18:36</time>
    </div>
    <div class="social">
        <a href="#" class="fb" title="Facebook">
            <i class="ic-facebook"></i>
        </a>
        <a href="#" class="zl" title="Zalo">
            <i class="ic-zalo"></i>
        </a>
        <a href="#" class="tt" title="Twitter">
            <i class="ic-twitter"></i>
        </a>
        <a href="#" class="em" title="Email">
            <i class="ic-mail"></i>
        </a>
    </div>
</div>
<div class="article__sapo">Ngày 20/12, tại Hà Nội, Đảng ủy Công an Trung ương tổ chức Hội nghị để thảo luận, đánh giá, cho ý kiến đối với nhiều báo cáo quan trọng. Đồng chí Tổng Bí thư Nguyễn Phú Trọng dự và phát biểu chỉ đạo. Báo Nhân Dân xin trân trọng giới thiệu toàn văn bài phát biểu của Tổng Bí thư Nguyễn Phú Trọng tại Hội nghị.</div>
<figure class="article__avatar">
    <img src="https://source.unsplash.com/featured/1280x720?sig=1" alt="">
    <figcaption>Cần thực hiện tốt hơn nữa phương châm: Lấy phòng ngừa làm trọng, kết hợp chặt chẽ giữa phòng ngừa với quyết tâm tấn công, đánh trúng,đánh đúng các loại tội phạm theo tinh thần tích cực, khẩn trương, hiệu quả.</figcaption>
</figure>