<h3 class="article__sub-title">Không tiền mặt</h3>
<h1 class="article__title">Cô thủ thư mê nuôi ong lấy mật ở miền núi thơm Hà Tĩnh</h1>
<div class="article__meta">
    <div class="meta">
        <span class="author">Sỹ Thông</span>
        <time class="time">18/10/2023 - 09:46</time>
    </div>
    <a class="gg-news" href="#">
        <span>Theo dõi Báo Hà Tĩnh trên</span>
        <img src="../styles/img/gg-news.png" alt="">
    </a>
</div>
<div class="article__sapo">(Baohatinh.vn) - Ban đầu, chị Phan Thị Phương Thảo (SN 1986, ở thôn Đình, xã Sơn Châu, huyện Hương Sơn - Hà Tĩnh) nuôi ong với mục đích lấy mật phục vụ gia đình nhưng đến nay chị đã làm chủ một trại ong với quy mô hơn 300 tổ.</div>
@@include("../audio/audio.html")
<figure class="article__avatar">
    <img src="https://source.unsplash.com/featured/1024x576?sig=1" alt="">
    <figcaption>Chị Phan Thị Phương Thảo (SN 1986) đang sở hữu hơn 300 tổ ong ở miền núi Hương Sơn.</figcaption>
</figure>