<section class="zone zone--service">
    <h3 class="box-heading">
        <a href="#">Dịch vụ</a>
    </h3>
    <div id="service_swiper" class="box-content swiper">
        <div class="swiper-wrapper">
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=1" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Cấy ghép Nha khoa">
                    <h2 class="effect-title">Cấy ghép Nha khoa</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=2" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Niềng răng">
                    <h2 class="effect-title">Niềng răng</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=3" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Phục hình răng">
                    <h2 class="effect-title">Phục hình răng</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=4" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Tiểu phẫu trong miệng">
                    <h2 class="effect-title">Tiểu phẫu trong miệng</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=5" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Điều trị răng">
                    <h2 class="effect-title">Điều trị răng</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=6" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Điều trị nha chu">
                    <h2 class="effect-title">Điều trị nha chu</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=7" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Răng trẻ em">
                    <h2 class="effect-title">Răng trẻ em</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=8" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Bệnh lý & PT hàm mặt">
                    <h2 class="effect-title">Bệnh lý & PT hàm mặt</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
            <div class="effect-sadie swiper-slide">
                <div class="effect-thumb">
                    <img src="https://source.unsplash.com/featured/350x470?sig=9" alt="350x470 (4:3)">
                </div>
                <a href="03-detail.html" class="effect-meta" title="Nha khoa dự phòng">
                    <h2 class="effect-title">Nha khoa dự phòng</h2>
                    <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                </a>
            </div>
        </div>
    </div>
</section> <!-- end zone-service -->