<section class="zone zone--service">
    <h3 class="box-heading">
        <a href="#">Dịch vụ</a>
    </h3>
    <div id="service_swiper" class="box-content swiper">
        <div class="swiper-wrapper">
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Cấy ghép Nha khoa</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Cấy ghép Nha khoa">
                        <img src="https://source.unsplash.com/featured/350x470?sig=1" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Niềng răng</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Niềng răng">
                        <img src="https://source.unsplash.com/featured/350x470?sig=2" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Phục hình răng</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Phục hình răng">
                        <img src="https://source.unsplash.com/featured/350x470?sig=3" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Tiểu phẫu trong miệng</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Tiểu phẫu trong miệng">
                        <img src="https://source.unsplash.com/featured/350x470?sig=4" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Điều trị răng</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Điều trị răng">
                        <img src="https://source.unsplash.com/featured/350x470?sig=5" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Điều trị nha chu</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Điều trị nha chu">
                        <img src="https://source.unsplash.com/featured/350x470?sig=6" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Răng trẻ em</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Răng trẻ em">
                        <img src="https://source.unsplash.com/featured/350x470?sig=7" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Bệnh lý & PT hàm mặt</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Bệnh lý & PT hàm mặt">
                        <img src="https://source.unsplash.com/featured/350x470?sig=8" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
            <div class="story swiper-slide">
                <h2 class="story__heading">
                    <a href="#">Nha khoa dự phòng</a>
                </h2>
                <figure class="story__thumb">
                    <a href="#" title="Nha khoa dự phòng">
                        <img src="https://source.unsplash.com/featured/350x470?sig=9" alt="350x470 (4:3)">
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section> <!-- end zone-service -->