@mixin clearfix {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

// Box Heading
@mixin box-heading {
    font-family: $font-family-heading;
    font-size: 36px;
    line-height: 1.3;
    color: var(--gray-900);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

    a {
        color: var(--gray-900);

        &:hover {
            color: var(--primary);
        }
    }
}