@mixin clearfix {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

// Box Heading
@mixin box-heading {
    font-family: $font-family-heading;
    font-size: 36px;
    line-height: 1.2;
    color: var(--success);
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;

    &::after {
        content:"";
        display: block;
        width: 100%;
        height: 5px;
        background: var(--info);
        margin-top: -14px;
    }
}