<section class="zone zone--intro container">
    <div class="wrap-heading">
        <h3 class="box-heading">Về Nha khoa herident</h3>
        <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat. Laoreet auctor netus cursus eget nulla. Consequat ipsum at et quam sed leo scelerisque.</div>
    </div>
    <div class="box-content">
        <div class="intro-equipment">
            <div class="equipment-sapo">
                <h3 class="subheading">Trang thiết bị hiện đại</h3>
                <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat. Laoreet auctor netus cursus eget nulla. Consequat ipsum at et quam sed leo scelerisque.</div>
                <a href="#" class="btn btn-secondary">Xem thêm</a>
            </div>
            <ul class="equipment-list">
                <li>
                    <h3 class="subtitle">Hệ thống vô trùng</h3>
                    <div class="summary">Lorem ipsum dolor sit amet consect adipiscing elit.</div>
                </li>
                <li>
                    <h3 class="subtitle">Ghế nha khoa</h3>
                    <div class="summary">Lorem ipsum dolor sit amet consect adipiscing elit.</div>
                </li>
                <li>
                    <h3 class="subtitle">Đèn quang trùng hợp, đèn trám</h3>
                    <div class="summary">Lorem ipsum dolor sit amet consect adipiscing elit.</div>
                </li>
                <li>
                    <h3 class="subtitle">Thiết bị chẩn đoán hình ảnh</h3>
                    <div class="summary">Lorem ipsum dolor sit amet consect adipiscing elit.</div>
                </li>
            </ul>
            <figure class="intro-thumb">
                <img src="https://placehold.co/570x380" alt="570x380 (3:2)">
            </figure>
        </div>
        <div class="intro-office">
            <figure class="intro-thumb">
                <a href="#" title="Nha khoa cơ sở I"><img src="https://placehold.co/570x380" alt="570x380 (3:2)"></a>
            </figure>
            <div class="intro-meta">
                <h3 class="subheading">Nha khoa cơ sở I</h3>
                <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                <a href="#" class="btn btn-secondary">Xem thêm</a>
            </div>
        </div>
        <div class="intro-office">
            <div class="intro-meta">
                <h3 class="subheading">Nha khoa cơ sở II</h3>
                <div class="summary">Lorem ipsum dolor sit amet consectetur. Faucibus enim massa dis mauris non eleifend sapien fermentum. Sed dui nunc aliquam amet convallis. Commodo urna nec sollicitudin turpis turpis egestas consequat.</div>
                <a href="#" class="btn btn-secondary">Xem thêm</a>
            </div>
            <figure class="intro-thumb">
                <a href="#" title="Nha khoa cơ sở II"><img src="https://placehold.co/570x380" alt="570x380 (3:2)"></a>
            </figure>
        </div>
    </div>
</section> <!-- end zone-intro -->