/* ====================================
   MASONRY
   ==================================== */

.masonry {
    display: flex;
    gap: 30px;

    .story {
        background: var(--secondary);
        padding: 0 20px 20px;
        margin-bottom: 30px;
        border-radius: 6px;
        overflow: hidden;

        &__heading {
            font-weight: 500;
            margin-bottom: 12px;
        }

        &__thumb {
            margin: 0 -20px 10px;
        }
    }
}