<div class="masonry">
    @@for (var i = 0; i < 3; i++) {
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Phát biểu của Tổng Bí thư Nguyễn Phú Trọng bế mạc Hội nghị lần thứ 8 Ban Chấp hành Trung ương Đảng khóa XIII</a>
            </h2>
            <div class="story__summary">Sáng 8/10, tại Trụ sở Trung ương Đảng, Tổng Bí thư Nguyễn Phú Trọng chủ trì và phát biểu bế mạc Hội nghị lần thứ 8 Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam khóa XIII.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x360?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Phát biểu của Tổng Bí Thư Nguyễn Phú Trọng tại cuộc họp tiểu ban văn kiện Đại hội XIV của Đảng</a>
            </h2>
            <div class="story__summary">Ngày 23/2, tại Trụ sở Trung ương Đảng, Tổng Bí thư Nguyễn Phú Trọng, Trưởng Tiểu ban Văn kiện, đã có bài phát biểu quan trọng tại cuộc họp của Tiểu ban Văn kiện Đại hội XIV của Đảng.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x250?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Phát biểu của Tổng Bí thư Nguyễn Phú Trọng với báo chí sau Hội đàm với Tổng thống Hoa Kỳ Joe Biden</a>
            </h2>
            <div class="story__summary">Chiều tối 10/9, ngay sau cuộc Hội đàm cấp cao, Tổng Bí thư Nguyễn Phú Trọng và Tổng thống Hoa Kỳ Joe Biden đã phát biểu với báo chí Việt Nam, Hoa Kỳ và quốc tế, thông tin về kết quả tốt đẹp của cuộc hội đàm.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x200?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Tổng Bí thư Nguyễn Phú Trọng chúc Tết các đồng chí lãnh đạo, nguyên lãnh đạo Đảng, Nhà nước</a>
            </h2>
            <div class="story__summary">Ngày 7/2, tức 28 tháng Chạp năm Quý Mão, tại Trụ sở Trung ương Đảng, đồng chí Tổng Bí thư Nguyễn Phú Trọng đã gặp mặt, chúc Tết các đồng chí lãnh đạo, nguyên lãnh đạo Đảng, Nhà nước, nhân dịp Tất niên năm 2023.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x300?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Phát biểu của Tổng Bí Thư Nguyễn Phú Trọng tại Hội nghị Đảng Ủy Công an Trung ương năm 2023</a>
            </h2>
            <div class="story__summary">Ngày 20/12, tại Hà Nội, Đảng ủy Công an Trung ương tổ chức Hội nghị để thảo luận, đánh giá, cho ý kiến đối với nhiều báo cáo quan trọng.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x180?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Tổng Bí thư Nguyễn Phú Trọng tiếp Thủ tướng Campuchia Hun Manet</a>
            </h2>
            <div class="story__summary">Chiều 11/12, tại Trụ sở Trung ương Đảng, Tổng Bí thư Nguyễn Phú Trọng đã tiếp Đoàn đại biểu cấp cao Chính phủ Vương quốc Campuchia do Thủ tướng, Phó Chủ tịch Đảng Nhân dân Campuchia (CPP) Hun Manet dẫn đầu đang có chuyến thăm chính thức Việt Nam.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x200?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Quán triệt, tuyên truyền nội dung cuốn sách của Tổng Bí thư Nguyễn Phú Trọng</a>
            </h2>
            <div class="story__summary">Ngày 14/11, Đảng ủy Khối các cơ quan Trung ương tổ chức quán triệt, tuyên truyền nội dung cuốn sách của Tổng Bí thư Nguyễn Phú Trọng “Cả nước đồng lòng, tranh thủ mọi thời cơ, vượt qua mọi khó khăn, thách thức; quyết tâm thực hiện thắng lợi Nghị quyết Đại hội XIII của Đảng”, bằng hình thức trực tiếp kết hợp trực tuyến tới 396 điểm cầu, với hơn 16.000 cán bộ, đảng viên tham dự.</div>
        </article>
        <article class="story masonry-story">
            <figure class="story__thumb">
                <a href="03-detail.html">
                  <img src="https://source.unsplash.com/featured/270x320?sig=1" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a href="03-detail.html">Tổng Bí thư Nguyễn Phú Trọng hội đàm với Tổng Bí thư, Chủ tịch Trung Quốc</a>
            </h2>
            <div class="story__summary">Ngày 23/2, tại Trụ sở Trung ương Đảng, Tổng Bí thư Nguyễn Phú Trọng, Trưởng Tiểu ban Văn kiện, đã có bài phát biểu quan trọng tại cuộc họp của Tiểu ban Văn kiện Đại hội XIV của Đảng.</div>
        </article>
    }
</div>
<button type="button" class="btn btn-primary">Xem thêm</button>