<div class="search-filter-wrap">
    <div class="search-filter container">
        <div class="form-group">
            <label for="" class="form-label">Tiêu đề bài viết</label>
            <input type="text" class="form-control" placeholder="Từ khoá tìm kiếm...">
        </div>
        <div class="form-group">
            <label for="" class="form-label">Loại bài báo</label>
            <select class="form-select">
                <option selected>Bài viết của Tổng Bí Thư</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Năm đăng bài</label>
            <select class="form-select">
                <option selected>Tất cả</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <button type="submit" class="btn" aria-label="Tìm kiếm">
            <i class="ic-search"></i>Tìm kiếm
        </button>
    </div>
</div>